{% load tw %}
<section class="benefits">
  <div class="container benefits-grid">
    <div class="benefit"><span class="benefit-icon">{% include "includes/icon.html" with name="clock" %}</span><div><h4>{% t "b1_t" %}</h4><p>{% t "b1" %}</p></div></div>
    <div class="benefit"><span class="benefit-icon">{% include "includes/icon.html" with name="phone" %}</span><div><h4>{% t "b2_t" %}</h4><p>{% t "b2" %}</p></div></div>
    <div class="benefit"><span class="benefit-icon">{% include "includes/icon.html" with name="moon" %}</span><div><h4>{% t "b3_t" %}</h4><p>{% t "b3" %}</p></div></div>
    <div class="benefit"><span class="benefit-icon">{% include "includes/icon.html" with name="wrench" %}</span><div><h4>{% t "b4_t" %}</h4><p>{% t "b4" %}</p></div></div>
  </div>
</section>
